$ui-primary-black: #3f3f3f;
$ui-secondary-black: #49485e;
$ui-primary-red: #ff8484;
$ui-primary-grey: #b4b4b4;
$ui-primary-green: #7bae73;
$ui-primary-white: #ffffff;

$ui-layout: rgba(255, 254, 251, 0.8);
$ui-card-background: #fffefb;

$ui-state-disabled: #eeeeee;

$ui-primary-re2d: #f85f5f;
