@use 'colors' as *;
@use 'shadows' as *;
@use 'typographyMixins' as *;

@mixin input {
  @include inputText();
  width: 100%;
  background-color: $ui-card-background;
  box-shadow: $ui-input-shadow;
  padding: 0.625rem 1rem;
  border-radius: 0.25rem;

  &::placeholder {
    color: $ui-primary-grey !important;
  }
}

@mixin textArea {
  @include input();
  height: 17.75rem;
  resize: none;
  font-family: 'Source Sans Pro', sans-serif;
  border: none;

  &:hover,
  &:focus,
  &:focus-visible {
    outline: none;
  }
}
